
<h1>  Order of {{order?.name}} </h1>
    <p> Cpu: {{order?.cpu}} </p>
    <p>Motherboard: {{order?.motherboard}} </p>
    <p> Videocard: {{order?.videocard}} </p>
    <p> Ram Memory (GB): {{order?.rammemory}}  </p>
    <p> Ram Memory (GB): {{order?.rammemory2}}  </p>
    <p> Ram Memory (GB): {{order?.rammemory3}}  </p>
    <p> Ram Memory (GB): {{order?.rammemory4}}  </p>
    
    <button onclick="window.location.href ='http://localhost:4200/products';"> Products Details</button>
    
<button onclick="window.location.href ='http://localhost:4200/order-form';" >New Order</button>

    
    